div[data-rehype-pretty-code-fragment] {
    margin: 0 !important;
}

pre {
    background-color: rgb(53, 51, 48) !important;
    white-space: pre-wrap;
}

code {
    counter-reset: line;
    padding: 20px 6px;
    margin-bottom: 1rem;
    border-radius: 20px;
    line-height: 1.3;
}

code > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    text-align: left;
    color: gray;
    padding: 0 8px;
}

code span {
    vertical-align: middle;
    font-size: 18px;
    word-wrap: break-word;
}

#mdx ul li code {
    width: max-content;
}
