.tag_box {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 8px 0 7px;
    border-radius: 50px;
    max-height: 30px;
    margin-bottom: 14px;
}

.tag_circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fff;
}

.tag_text {
    padding-top: 1px;
    font-family: var(--font-mona);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.2px;
    margin: 0 13px 0 5px;
    color: #fff;
    text-transform: uppercase;
}

/* Web tag */
.tag_box.web {
    background: var(--web-gradient);
}

/* JS tag */
.tag_box.javascript {
    background: linear-gradient(135deg, rgba(255, 219, 47, 1) 11.2%, rgb(255, 217, 136) 100%);
}

/* React tag */
.tag_box.react {
    background: linear-gradient(90deg, rgba(83, 101, 252, 1) -150%, rgba(82, 207, 252, 1) 100%);
}

/* Programming tag */
.tag_box.programming {
    background: linear-gradient(135deg, rgba(108, 108, 108, 1) 10%, #9cb8a9 100%);
}

/* Package tag */
.tag_box.package {
    background: linear-gradient(135deg, #9796f0, #fbc7d4);
}
