.tag_box {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 8px 0 7px;
    border-radius: 50px;
    max-height: 30px;
    margin-bottom: 8px;
}

.tag_circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fff;
}

.tag_text {
    padding-top: 1px;
    font-family: var(--font-mona);
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 0.2px;
    margin: 0 13px 0 5px;
    color: #fff;
    text-transform: uppercase;
}

/* JS tag */
.tag_box.javascript {
    background: linear-gradient(90deg, rgba(246, 219, 26, 1) 0%, rgba(242, 245, 27, 1) 250%);
}

/* React tag */
.tag_box.react {
    background: linear-gradient(90deg, rgba(83, 101, 252, 1) -150%, rgba(82, 207, 252, 1) 100%);
}

/* Programming tag */
.tag_box.programming {
    background: linear-gradient(135deg, rgba(108, 108, 108, 1) 10%, #9cb8a9 100%);
}
