.tag_box {
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 5px 12px;
    border-radius: 20px;
}

.tag_circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: -5px;
}

.tag_text {
    padding-top: 1px;
    font-family: var(--font-mona);
    font-size: 12.4px;
    letter-spacing: 0.2px;
    margin-left: 5px;
}

/* React tag */
.tag_box.react {
    background: linear-gradient(90deg, rgba(83, 101, 252, 1) -150%, rgba(82, 207, 252, 1) 100%);
}

.tag_circle.react {
    background-color: #fff;
}

.tag_text.react {
    color: #fff;
}

/* Programming tag */
.tag_box.programming {
    background: linear-gradient(135deg, rgba(108, 108, 108, 1) 10%, #9cb8a9 100%);
}

.tag_circle.programming {
    background-color: #fff;
}

.tag_text.programming {
    color: #fff;
}
