.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
}

/* 👀 GetPostContent css */
.blog {
    width: calc(1500px / 3 - 10px);
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000001b;
    margin: 0 14px 14px 0;
}

.blog:nth-child(3n) {
    margin: 0;
}

.blog .image_box {
    width: 100%;
    height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.blog .blog_contents {
    position: relative;
    padding: 10px 20px 20px;
}

.blog .blog_contents a .blog_title {
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.3;
    word-spacing: 2px;
    word-wrap: break-word;
    margin-top: 1rem;
    transition: color 0.25s;
}

.blog .blog_contents .summary {
    margin-top: 0.2rem;
    font-size: 0.88rem;
}

.blog .blog_contents:hover a .blog_title {
    color: var(--green);
}
