.wrapper {
    max-width: var(--max-width);
    margin: 0 auto;
    padding-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
}

/* 👀 GetPostContent css */
.posting {
    width: calc(1500px / 3 - 10px);
    height: fit-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border: 1px solid #0000001b;
    margin: 0 14px 14px 0;
}

.posting:nth-child(3n) {
    margin: 0;
}

.posting .image_box {
    width: 100%;
    height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.posting .posting_contents {
    position: relative;
    padding: 10px 20px 20px;
}

.posting .posting_contents a .posting_title {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 1.3;
    word-spacing: 2px;
    word-wrap: break-word;
}

.posting .posting_contents .summary {
    font-size: 0.88rem;
}

.posting .posting_contents:hover a .posting_title {
    color: var(--green);
}
