/* ⭐️ programming maincate prop ⭐️ */
.programming h3 {
    position: relative;
}

.programming h5 {
    background-color: #04d98b;
}

.programming strong {
    background-color: #a4f3d6;
    font-size: calc(1em + 1px);
}

.programming .highlight_box {
    background-color: #00c47c1c !important;
}
