.posting_wrapper {
    color: var(--black);
}

.posting_wrapper > p {
    font-size: 1.12em;
}

.posting_wrapper > h2 {
    text-align: center;
    font-size: 3rem;
    -webkit-text-stroke: 3px;
    letter-spacing: 1.4px;
    margin-bottom: 7rem;
}

.posting_wrapper h4 {
}

#flex_box {
    display: flex;
    gap: 50px;
    margin: 10rem 0;
}
#flex_box > *:nth-child(1) {
    width: 30%;
}
#flex_box > *:nth-child(2) {
    width: 70%;
}

#flex_box ul li {
    list-style-position: inside;
    line-height: 1.6;
}

#flex_box h4 {
    font-size: 1.4em;
    -webkit-text-stroke: 0.4px;
    word-break: keep-all;
    line-height: 1.3;
}

#flex_box h5 {
    font-size: 1em;
    margin: 2rem 0 0;
}

#flex_box p {
    text-indent: 8px;
    margin: 2rem 0;
    line-height: 1.7;
}
#flex_box p:nth-of-type(1) {
    margin: 0;
}

#flex_box .flex_item code {
    background-color: rgb(226, 228, 230);
    padding: 4px;
    border-radius: 0;
    font-family: var(--font-proggy);
    vertical-align: middle;
    color: rgb(255, 98, 98);
}

#highlight {
    color: var(--main);
    font-size: 1.02em;
}
