#mdx {
    color: var(--black);
}

/* ⭐️ COMMON ⭐️ */
#mdx h2 {
    margin: var(--size-small) 0 0;
    font-size: 3.6rem;
    -webkit-text-stroke: 2px var(--black);
}

#mdx h2:nth-of-type(n + 2) {
    margin-top: var(--size-big);
}

#mdx h3 {
    font-size: 1.55rem;
    font-weight: 900;
    margin-top: 3rem;
    -webkit-text-stroke: 0.3px var(--black);
}

#mdx h4 {
    font-size: 1.2rem;
}

#mdx h5 {
    margin: 2rem 0 4px;
    font-size: 1.22rem;
    display: inline-block;
}

#mdx ul,
#mdx li,
#mdx ol {
    list-style-position: inside;
}

#mdx p {
    line-height: 1.68;
    text-indent: 8px;
    font-size: 16.5px;
    word-break: keep-all;
    word-wrap: break-word;
    font-family: var(--font-wanted);
    margin: 1.1rem 0;
}

#mdx p code {
    background-color: var(--light-grey);
    padding: 2px 4px;
    border-radius: 0;
}

#mdx strong {
    padding: 2px 4px;
    letter-spacing: 0.18px;
}

/* ⭐️ CONTENTS ⭐️ */
#contents_box {
    position: sticky;
    top: 20px;
}

#contents {
    position: absolute;
    left: -200px;
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
    max-width: 150px;
}
#contents::after {
    content: "";
    position: absolute;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: var(--black);
    border-radius: 10px;
}

#contents a {
    font-size: 1.1rem;
    font-weight: 900;
    word-spacing: 4px;
    font-family: var(--font-mona), var(--font-wanted);
    color: var(--light-grey);
    padding-right: 1rem;
    text-align: right;
    word-wrap: break-word;
}
#contents a:hover {
    color: var(--black);
}

/* ⭐️ DL DT DD ⭐️ */
#mdx dt {
    background-color: var(--light-grey);
    width: fit-content;
    padding: 2px 4px;
    margin: 2rem 0 0;
    font-weight: 900;
    font-size: 1.1em;
}
#mdx dt:first-of-type {
    margin-top: 0;
}

#mdx dd {
    margin-top: 6px;
}

#mdx dd code {
    background-color: var(--light-grey);
    padding: 0 2px;
    border-radius: 0;
}

/* ⭐️ HIGHLIGHT BOX ⭐️ */
.highlight_box {
    margin: 2rem 0;
    border-radius: 3px;
    padding: 30px 20px;
    color: var(--black);
}

.highlight_box h3 {
    font-size: 1.2rem !important;
    margin-top: 2.4rem !important;
}
.highlight_box h3:first-of-type {
    margin: 0 !important;
}

.highlight_box p {
    font-size: 0.96em !important;
    margin: 0.86em 0 !important;
}

/* ⭐️ OL TAG ⭐️ */
#mdx ol {
    counter-reset: step;
    position: relative;
    list-style: none;
    margin-top: 2rem;
}

#mdx ol > li {
    padding-left: 2.6rem;
    padding-bottom: 0.3rem;
    margin-bottom: 0.8rem;
    position: relative;
}
#mdx ol > li::before {
    counter-increment: step 1;
    content: counter(step);

    position: absolute;
    left: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 22px;
    min-width: fit-content;

    font-size: 11px;
    font-weight: 900;

    border-radius: 5px;
    border: 1px solid var(--grey);

    box-shadow: 0.5px 0.5px 3px var(--grey), -0.5px -0.5px 3px var(--grey);
    background-color: #fff;
}

#mdx ol > li::after {
    content: "";
    position: absolute;
    background-color: rgb(222, 220, 217);
    width: 3px;
    top: 1.875rem;
    left: 0.91rem;
    bottom: 0;
    border-radius: 50px;
}

#mdx ol > li p {
    margin: 0.4rem 0 0.9rem;
}

/* ⭐️ CODE ⭐️ */
#code {
    margin-top: 2px;
    margin-bottom: 0 !important;
}

#code strong {
    font-size: 13px;
    color: #bfbfbf;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
}

/* ⭐️ SYNTAX BOX ⭐️ */
#syntax {
    margin: 1rem 0 0.2rem !important;
}

#syntax strong {
    font-size: 1.1em;
    color: var(--dark-grey);
    padding: 0;
    background-color: transparent;
}

#syntax_box {
    margin-top: 4px;
}

.return {
    margin-top: 2px;
}

.return strong {
    color: var(--black) !important;
    font-size: 1.25rem;
    font-weight: 800;
}
