.wrapper {
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
}

.title {
    font-size: 4rem;
    font-weight: 900;
    word-break: keep-all;
    color: var(--black);
    -webkit-text-stroke: 1px var(--black);
}
