/* ⭐️ JS MDX ⭐️ */
#mdx.js ol > li:hover::before {
    border: 1px solid rgb(var(--js));
    color: rgb(var(--js));
    -webkit-text-stroke: 1px rgb(var(--js));
}

.js h5 {
    background-color: rgba(var(--js), 0.5);
}

.js strong {
    color: #fff;
    background-color: rgba(var(--js), 0.8);
}

.js .highlight_box {
    background-color: rgba(var(--js), 0.08);
}

/* ⭐️ WEB MDX ⭐️ */
#mdx.web ol > li:hover::before {
    border: 1px solid rgb(var(--web-color));
    color: rgb(var(--web-color));
    -webkit-text-stroke: 1px rgb(var(--web-color));
}

.web .sub_contents h5 {
    background-color: rgba(var(--web-color), 0.5);
}

.web strong {
    color: rgba(var(--web-color), 1);
}

.web .highlight_box {
    background-color: rgba(var(--web-color), 0.2);
}

/* ⭐️ PACKAGE MDX ⭐️ */

#mdx.package ol > li:hover::before {
    border: 1px solid rgb(var(--package));
    color: rgb(var(--package));
    -webkit-text-stroke: 1px rgb(var(--package));
}

.package .sub_contents h5 {
    background-color: rgba(var(--package), 0.5);
}

.package strong {
    color: rgba(var(--package), 1);
}

.package .highlight_box {
    background-color: rgba(var(--package), 0.2);
}
