.wrapper {
    max-width: 880px;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 120px;
}

.title {
    font-size: 6rem;
    font-weight: 900;
    line-height: 1.6;
    word-spacing: 12px;
    word-break: keep-all;
    font-family: var(--font-mona);
    color: var(--black);
    -webkit-text-stroke: 2.4px var(--black);
}
